@page "/buses"
@inject IBusService BusService
@inject NavigationManager NavigationManager

<h3>Buses</h3>

<table class="table">
    <thead>
        <tr>
            <th style="width: 16ch">Id</th>
            <th>License Plate</th>
            <th>Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in BusService.Buses)
        {
            <tr>
                <td>@bus.Id.ToString().Substring(0, 4)...@bus.Id.ToString().Substring(32, 4)</td>
                <td>@bus.LicensePlate</td>
                <td>@bus.Capacity</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowBus(bus.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                        @onclick="(() => DeleteBus(bus.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewBus">
    Create New Bus
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BusService.GetBuss();
    }
    void ShowBus(Guid id)
    {
        NavigationManager.NavigateTo($"/Bus/{id}");
    }

    void CreateNewBus()
    {
        NavigationManager.NavigateTo("/Bus");
    }
    async Task DeleteBus(Guid busId)
    {
        await BusService.DeleteBus(busId);

        BusService.Buses.RemoveAll(t => t.Id == busId);
    }

}