@page "/models"
@inject IModelService ModelService
@inject NavigationManager NavigationManager

<h3>Models</h3>

<table class="table">
    <thead>
        <tr>
            <th style="width: 40ch">Id</th>
            <th>Name</th>
            <th>Production Year</th>
            <th>Battery Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in ModelService.Models)
        {
            <tr>
                <td>@model.Id.ToString().Substring(0, 4)...@model.Id.ToString().Substring(32, 4)</td>
                <td>@model.Name</td>
                <td>@model.Production_year</td>
                <td>@model.Battery_capacity</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowModel(model.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                        @onclick="(() => DeleteModel(model.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewModel">
    Create New Model
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ModelService.GetModels();
    }
    void ShowModel(Guid id)
    {
        NavigationManager.NavigateTo($"/Model/{id}");
    }

    void CreateNewModel()
    {
        NavigationManager.NavigateTo("/Model");
    }
    async Task DeleteModel(Guid modelId)
    {
        await ModelService.DeleteModel(modelId);

        ModelService.Models.RemoveAll(t => t.Id == modelId);
    }

}