<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ElectricBikeCompany</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workers">
                <img src="../icons/people.png" height="32px"> &nbsp; Workers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buses">
                <img src="../icons/delivery-car.png" height="32px"> &nbsp; Buses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <img src="../icons/people.png" height="32px"> &nbsp; Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bikes">
                <img src="../icons/bike.png" height="32px"> &nbsp; Bikes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docks">
                <img src="../icons/dock.png" height="32px"> &nbsp; Docks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rents">
                <img src="../icons/rent.png" height="32px"> &nbsp; Rents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="models">
                <img src="../icons/specification.png" height="32px"> &nbsp; Bikes Models
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
